<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartFiddlerProxy" value="False"/>
    <add key="Browser" value="Firefox"/>
    <add key="UseLocalProxy" value="True"/>
    <add key="ProxyPort" value="8888"/>
    <add key="HostIP" value ="10.10.1.84"/>
    <add key="CommandDelayMs" value="500"/>
  </appSettings>
</configuration>